@charset "UTF-8";
/*基本色值*/
.test, .test1 {
  *zoom: 1; }
  .test:before, .test1:before, .test:after, .test1:after {
    content: "";
    display: table; }
  .test:after, .test1:after {
    clear: both; }

.test {
  color: red; }

.test1 {
  color: black; }
