//base
@import 'base/_setting';
//helper
@import 'helpers/_variables';
@import 'helpers/_mixins';
//components
@import 'components/_button';
$ava1:"blac12";
.test {
    color: $ava1;
    @extend %clearfix;
}

.test1 {
    color: black;
    @extend %clearfix;
}
