/*基本色值*/

$success-color:#8fc31f;
$success-hover-color:#86b61d;
$primary-color:#1db2fd;
$primary-hover-color:#06a0ee;
$warn-color:#ff8d33;
$warn-hover-color:#ee7b20;
$danger-color:#e84c28;
$danger-hover-color:#d34221;
$discourage-color:#b2b2b2;
$discourage-hover-color:#a6a6a6;
$disabled-color:#ddd;

/*圆角*/

$radius:3px;